<html>
  <head>
    <title>Flask-SocketIO-Chat: {{ room }}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <style>
      body {
        color:green;
        background-color:black;
      }
      textarea {
        background-color:darkgrey;
        color:green;
      }
      input {
        background-color:darkgrey;
        color:green;
      }
      a {
        color: lightgreen;
      }
    </style>
    <script type="text/javascript" charset="utf-8">
      let socket;
      $(document).ready(function(){
        console.log('DOCUMENT READY FUNCTION');
        socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function() {
          console.log('CONNECT: ' + document.domain + ' ' + location.port);
          socket.emit('joined', {});
        });
        socket.on('status', function(data) {
          d = new Date();
          $('#chat').val($('#chat').val() + `[${d.toLocaleTimeString()}] <${data.msg}>\n`);
          $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('message', function(data) {
          console.log('MESSAGE: ' + data);
          d = new Date();
          $('#chat').val($('#chat').val() + `[${d.toLocaleTimeString()}] ${data.msg}\n`);
          $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        $('#text').keypress(function(e) {
          console.log('TEXT: ' + e);
          const code = e.keyCode || e.which;
          if (code == 13) {
            text = $('#text').val();
            $('#text').val('');
            socket.emit('text', {msg: text});
          }
        });
      });
      function leave_room() {
        socket.emit('left', {}, function() {
          socket.disconnect();

          // go back to the login page
          window.location.href = "{{ url_for('index') }}";
        });
      }
    </script>
  </head>
  <body>
    <h1>MUD:</h1>
    <textarea id="chat" cols="80" rows="20" readonly></textarea><br><br>
    <input id="text" size="80" placeholder="Enter your message here"><br><br>
    <a href="#" onclick="leave_room();">Leave this room</a>
  </body>
</html>
