<html>
    <head>
        <title>CSCI 1133H MUD Server</title>
    </head>
    <body>
        <h1>CSCI 1133H MUD Server</h1>
        <form method="POST">
            <label for="name-select">Name:</label>
            <input name="name" type="text" placeholder="name" id="name-select"><br><br>
            <label for="zone-select">Starting Zone:</label>

            <select name="zone" id="zone-select">
                <option value="Alley">Alley</option>
                <option value="Baking Competition">Baking Competition</option>
                <option value="barbie dream house yasss (Sophie)">barbie dream house yasss (Sophie)</option>
                <option value="Bloomer's Backrooms (Noah)">Bloomer's Backrooms (Noah)</option>
                <option value="Boo's Mansion">Boo's Mansion</option>
                <option value="Caravan Encounter">Caravan Encounter</option>
                <option value="Cave Zone">Cave Zone</option>
                <option value="Descend the Mountain">Descend the Mountain</option>
                <option value="Diamond Heist">Diamond Heist</option>
                <option selected="selected" value="Dragon's Lair">Dragon's Lair</option>
                <option value="Dungeon Conquest (Cristina)">Dungeon Conquest (Cristina)</option>
                <option value="Escape room">Escape room</option>
                <option value="Escape room (Gia)">Escape room (Gia)</option>
                <option value="Fall Adventure">Fall Adventure</option>
                <option value="find a ring in the forest (Liv)">find a ring in the forest (Liv)</option>
                <option value="Fool's Lair (Jose)">Fool's Lair (Jose)</option>
                <option value="Guard attack (Bailey)">Guard attack (Bailey)</option>
                <option value="Hero (maybe) (Mike)">Hero (maybe) (Mike)</option>
                <option value="House (Daniel)">House (Daniel)</option>
                <option value="Late for Class! An Adventure">Late for Class! An Adventure</option>
                <option value="Major Help Bot">Major Help Bot</option>
                <option value="Omar's Adventure (Omar)">Omar's Adventure (Omar)</option>
                <option value="RedEye's Cave">RedEye's Cave</option>
                <option value="Soccer game">Soccer game</option>
                <option value="Security Guard">Security Guard</option>
                <option value="Three Doors Adventure (Nolan)">Three Doors Adventure (Nolan)</option>
            </select><br><br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>
